<div class = "background">
  <h1>Homepage#home</h1>
  <p>creative studio specialising in digital solutions</p>
  <div class="img-logo">
    <%= image_tag("logo-white.png", :style => "width:700px", :alt => "kuwona logo") %>
  </div>
</div>
