body {
  background-color: black;
  background: linear-gradient(to right, rgba(241, 240, 234, 0.3)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  p {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
  }
}
.img-logo {
  display: flex;
  justify-content: center;
  margin-top: -120px;

}
